.intro {
    padding-bottom: rem(64px);

    @media screen and (max-width: 980px) {
        padding-bottom: rem(82px);
    }
}

.intro__row {
    justify-content: flex-start;
    align-items: flex-start;
}

.intro__description {
    max-width: 340px;
    margin-right: rem(132px);
    font-size: rem(14px);
    line-height: 18px;

    @media screen and (max-width: 980px) {
        max-width: 100%;
        margin-bottom: rem(40px);
        margin-right: 0;
    }
}

.intro__capabilities {
    max-width: 414px;

    @media screen and (max-width: 980px) {
        max-width: 100%;
    }

    h3,
    li {
        @include fs;
        text-transform: uppercase;
        font-size: rem(12px);
    }

    h3 {
        margin-bottom: 0;
    }

    li {
        display: inline-block;
        
        &:not(:last-child):after {
            content: ", "
        }
    }
}

.coming-soon {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}