.footer {
    padding: 10px 0 60px;
    background: #fff;
    position: relative;

    a {
        &:hover {
            color: #000;
        }
    }
}

.footer__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 30px;
}

.footer__since,
.footer__copyright {
    margin-top: 10px;
}

.footer__skull {

    img {
        width: 56px;
        height: auto;
    }
}