.coming-soon {
    .l-container:hover {
        .header__logo {
        
            img {
                opacity: 1;
            }
    
            svg {
                opacity: 0;
            }
        }
    }
    .header__logo {
        text-align: center;
        margin-bottom: 20px;
        width: auto;

        img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .post-password-form p:first-child,
    input[type="submit"] {
        display: none;
    }

    label {
        text-indent: -99999999px;
        display: inline-block;

        input {
            display: block;
            padding: 5px;
            transform: translatey(-8px);
            margin-right: 10px;
        }
    }

    .custom-password-message {
        display: block;
        color: red;
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .pw-protection__row {
        flex-wrap: wrap;
        width: 265px;
        display: flex;
        align-items: center;
        justify-content: center;

        > * {
            margin-top: 0 !important;
        }
    }

    .c-button {
        border-color: black;
        margin-top: 0 !important;
    }

    .pw-protection__label {
        text-align: center;
        display: block;
        margin-top: 10px;
    }
}