.work__item {
    padding: 20px 0 40px;
    border-top: 1px dashed #000;
    position: relative;
    
    &:before {
        // content: "";
        width: 100%;
        height: 100%;
        background: #fff;
        left: 0;
        top: 0;
        position: absolute;
        transform: translateX(-100%);
        z-index: 1;
    }
}

.work__item__content {
    margin-bottom: rem(30px);
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (max-width: 1200px) {
        flex-direction: column;

        > * {
            &:not(:last-child) {
                margin-bottom: rem(20px);
            }
        }
    }
}

.work__item__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 20.5%;

    @media screen and (max-width: 1200px) {
        max-width: 100%;
        margin-right: 0;
    }

    h2 {
        @include fp;
        font-size: rem(12px);
        text-transform: uppercase;
        margin-bottom: 0;

        a {
            display: flex;
            align-items: center;
            line-height: 1;

            &:hover {
                color: $text;
                svg {
                    transform: translate3d(4px,0,0);
                }
            }

            svg {
                margin-left: 5px;
                transition: transform .25s ease;
                transform: translate3d(0,0,0);
            }
        }
    }
}

.work__item__description {
    width: 31%;
    max-width: 100%;
    @include ft();
    font-size: 1.2rem;
    margin-right: 80px;


    @media screen and (max-width: 1200px) {
        width: 43rem;
        max-width: 100%;
        margin-right: 0;
    }
}

.work__item__terms {
    font-size: 0;
    max-width: 100%;
    width: 25%;

    @media screen and (max-width: 1200px) {
        width: 100%;
    }

    li {
        display: inline-block;
        margin-bottom: rem(10px);

        &:not(:last-child) {
            margin-right: rem(10px);
        }
    }

    .c-button {
        border: none;
        background: #E4E0DC;
        display: block;

        &:hover {
            font-weight: bold;
            border: none;
        }
    }
}

.owl-item {
    height: 387px;
}

.work__item__images {
    position: relative;
    visibility: visible !important;    

    &.dragging {
        .work__item__image {
            pointer-events: none;
        }
    }

    &:not(.dragging) {
        .work__item__image {
            opacity: 1;
            transition: opacity .25s cubic-bezier(0,.39,.34,.74);
            
        
            &:hover {
                @media screen and (min-width: 1200px) {
                    opacity: .8;
                    transition: opacity 1.25s cubic-bezier(0,.39,.34,.74);
                }
            }
        }
    }

    @media screen and (min-width: 981px) {
        cursor: grab;

        &.dragging {
            cursor: grabbing;
        }
    }

    &.is-initialized {
        .work__item__images-loader {
            opacity: 0;
        }
        .work__item__image:not(.clone) {
            img,
            .work__item__video {
                opacity: 1;
            }
        }

        &:before {
            transform: scale(0);
            display: none;
        }
    }
}

.work__item__images-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 15px;
    height: 15px;
    opacity: .5;
    pointer-events: none;
    display: none;

    svg {
        width: 100%;
        height: auto;
    }
}

.work__item__image {
    overflow: hidden;
    object-fit: cover;

    @media screen and (max-width: 768px) {
        max-width: 100%;
    }

    &:not(:last-child) {
        margin-right: rem(12px);
    }

   
    $i: 1;
    @for $i from 1 to 80 {
        &:nth-child(#{$i}) {
            img,
            .work__item__video {
                transition-delay: $i * 0.06s;
            }
        }
    }
    

    img {
        width: auto;
        height: 387px;
        vertical-align: auto !important;
        transition: opacity 1.25s ease;
        opacity: 0;

        @media screen and (max-width: 980px) {
            height: 243px;
        }

        @media screen and (max-width: 768px) {
            max-width: 100%;
            object-fit: cover;
        }
    }
}

.splide__arrow {
    display: none !important;
}

.splide__pagination {
    visibility: hidden;
    pointer-events: none;
}

.work__item__external-link {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &:hover {
        h2 {
            color: black;
        }

        path:first-child {
            fill: black;
        }

        path:nth-child(2) {
            fill: white;
        }
    }
    svg {
        path {
            transition: fill .25s ease;
        }
    }
}

.work__item__video {
    height: 100%;
    width: auto;
    position: relative;
    opacity: 0;
    transition: opacity 1.25s ease;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .work__item__video__volume-up,
    .work__item__video__volume-down {
        display: none;
        position: absolute;
        right: 5px;
        top: 5px;
        pointer-events: none;
        opacity: 0;
        z-index: 100;
        width: 25px;
        cursor: pointer;
        transition: opacity .25s ease;
    }
}

.work__item__links {
    display: flex;
    margin-left: auto;

    @media screen and (max-width: 1200px) {
        margin-left: 0;
    }

    @media screen and (max-width: 768px ) {
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > *:last-child {
            display: flex;
            justify-content: flex-end;
        }
    }
}

.work__item__link {
    margin-left: rem(70px);
    font-size: rem(12px);
    text-transform: uppercase;

    &:first-child {
        margin-left: 0;
    }

    @media screen and (max-width: 768px ) {
        width: 100%;
        margin-bottom: rem(22px);
        display: block;
        margin-left: 0;
    }

    a {
        text-decoration: underline;
        white-space: nowrap;   

        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }

    .c-button {
        background: black;
        color: white;
        text-decoration: none;

        &:hover {
            background: white;
            color: black;
        }
    }
}

@keyframes fade {
    0%,100% { opacity: 0; transform: scale(.4) rotate(0deg)}
    50% { opacity: 1; transform: scale(1) rotate(1080deg);}
}